.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $font-lg-color;
  border-bottom: 1px solid $background-color ;
}

.hamburger {
  display: flex;
  padding: 16px 100px;
}

.dropdown{
  display: flex;
  align-items: center;
}

.border {
  border-left: 1px solid $background-color;
  padding: 16px;
}

.border i {
  font-size: 16px;
  color: $hover-color;
}

.border a {
  font-size: 0;
  color: $hover-color;
}

.border .user {
  font-size: 16px;
  color: $signature-color;
}

.border .amount {
  font-size: 16px;
  color: $hover-color;
}