/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$side-bar-color: #1e1e1e;
$background-color: #e6e6e6;
$button-color: #ffac4d;
$font-color: #ffffff;
$signature-color: #0099cc;
$earned-color:  #66ff66;
$hover-color: #999999;
$hover-darker-color: #4d4d4d;

/* Font sizes */
$paragraph-font-size: 16px;
$brand-font-size: 20px;
$header-font-size: 24px;

/* Fonts */
$brand-font: 'Dancing Script', cursive;
$paragraph-font: 'Poppins', sans-serif;;